<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.AdvertiserInfoDao">

    <select id="findByName" resultType="com.example.vo.AdvertiserInfoVo">
        select `advertiser_info`.* from `advertiser_info`
        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `advertiser_info`.`name` like concat('%', #{name}, '%')
        </if>
        order by `advertiser_info`.`time` desc
    </select>

    <select id="findVoById" resultType="com.example.vo.AdvertiserInfoVo">
        select `advertiser_info`.* from `advertiser_info`
        where `advertiser_info`.id = #{id}
    </select>


</mapper>