<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.OrderGoodsRelDao">

    <delete id="deleteByGoodsIdAndOrderId">
        delete from order_goods_rel where goodsId = #{goodsId} and orderId = #{orderId}
    </delete>

    <delete id="deleteByOrderId">
        delete from order_goods_rel where orderId = #{orderId}
    </delete>


    <select id="findByOrderId" resultType="com.example.entity.OrderGoodsRel">
        select * from order_goods_rel where orderId = #{orderId}
    </select>
</mapper>