<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserInfoDao">

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(id) from `user_info` where ${column} = #{value}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

    <select id="findByUsername" resultType="com.example.vo.UserInfoVo">
        select * from `user_info` where `name` = #{username}
    </select>

    <select id="findByName" resultType="com.example.vo.UserInfoVo">
        select `user_info`.* from `user_info`

        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `user_info`.`name` like concat('%', #{name}, '%')
        </if>
        order by `user_info`.id
    </select>
    <select id="count" resultType="Integer">
        select count(id) from `user_info`
    </select>
</mapper>