
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>更新密码</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/element/index.css">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper" v-cloak>
    <!--导航栏-->
    <div class="menuW" style="float: left">
        <div class="sideMenu">
            <div class="head">MakeUp美妆网</div>
            <ul>
                <li class="nLi">
                    <h3><i class="fa fa-dashboard"></i>首页<span class="fa fa-angle-up arrow"></span></h3>
                    <ul class="sub">
                        <li><a href="index.html"><i class="fa fa-dashboard"></i>首页</a></li>
                    </ul>
                </li>
                <li class="nLi on">
                    <h3><i class="fa fa fa-dashboard icon"></i>信息展示<span class="fa fa-angle-up arrow"></span>
                    </h3>
                    <ul class="sub">
						<li v-if="authority.indexOf(1) != -1">
							<a href="adminInfo.html"><i class="fa fa-table"></i>管理员信息</a>
						</li>

						<li v-if="authority.indexOf(3) != -1">
							<a href="userInfo.html"><i class="fa fa-table"></i>用户信息</a>
						</li>
						<li v-if="authority.indexOf(5) != -1">
							<a href="messageInfo.html"><i class="fa fa-table"></i>在线交流</a>
						</li>
						<li v-if="authority.indexOf(1000001) != -1">
							<a href="advertiserInfo.html"><i class="fa fa-table"></i>公告信息</a>
						</li>
						<li v-if="authority.indexOf(1000009) != -1">
							<a href="typeInfo.html"><i class="fa fa-table"></i>化妆品类别</a>
						</li>
						<li v-if="authority.indexOf(1000010) != -1">
							<a href="goodsInfo.html"><i class="fa fa-table"></i>化妆品详情</a>
						</li>

						<li v-if="authority.indexOf(1000012) != -1">
							<a href="orderInfo.html"><i class="fa fa-table"></i>订单信息</a>
						</li>
						<li v-if="authority.indexOf(1000013) != -1">
							<a href="commentInfo.html"><i class="fa fa-table"></i>评价信息</a>
						</li>

                        <li>
                            <a href="javascript:void(0)" @click="personalPage"><i class="fa fa-user"></i>个人信息</a>
                        </li>
                    </ul>
                </li>

                <li class="nLi">
                    <h3><i class="fa fa-unlock-alt"></i>修改密码<span class="fa fa-angle-up arrow"></span></h3>
                    <ul class="sub">
                        <li>
                            <a href="updatePassword.html" class="active"><i class="fa fa-unlock-alt"></i>修改密码</a>
                        </li>
                    </ul>
                </li>
                <li class="nLi">
                    <h3><i class="fa fa-power-off"></i>退出登录<span class="fa fa-angle-up arrow"></span></h3>
                    <ul class="sub">
                        <li>
                            <a href="javascript:void(0)" @click="logout"><i class="fa fa-power-off"></i>退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="main">
        <!-- 头部开始 -->
        <div class="main-head" style="width: 100%; display: flex">
            <div style="flex: 1; text-align: right">
                <a href="/front/index.html"> <i class="fa fa-backward" style="margin-right: 5px"></i>返回前台首页</a>
                <a href="javascript:void(0)" @click="personalPage">当前登录：<span style="color: yellow">{{user.name}}</span></a>
                <a href="javascript:void(0)" @click="logout">退出登录</a>
            </div>
        </div>
        <!-- 头部结束 -->

        <!-- 主体开始 -->
        <div style="padding: 0 20px">
            <div>
                <div class="table-title">管理员信息</div>
            </div>

            <!-- 表格主体-->
            <div style="margin-top: 10px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">管理员信息表</div>
                            <div class="panel-body">
                                <form role="form" style="width: 300px">
                                    <input type="hidden" id="id" name="id" v-model="entity.id">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" v-model="entity.password" placeholder="原密码"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" v-model="entity.newPassword" placeholder="新密码"/>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" v-model="entity.new2Password" placeholder="确认密码"/>
                                    </div>
                                    <div style="text-align: center">
                                        <a href="javascript:void(0)" @click="updatePassword()" class="btn btn-primary">提交</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 表格主体结束-->
        </div>
        <!-- 主体结束 -->
    </div>
</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function msg(type, msg) {
        Vue.prototype.$message({
            type: type, // success（成功）、warning（警告）, error(错误)
            message: msg,
            duration: 2000,
            offset: 100,
            center: true,
        })
    }

    new Vue({
        el: '#wrapper',
        data: {
            user: {},
            authority: [],
            objs: [],
            entity: {}
        },
        created: function () {

            this.user = JSON.parse(localStorage.getItem('user'));

            axios.get("/getAccountInfo").then(res => {
                if (res.data.code === '0') {
                    this.entity.id = res.data.data.id;
                } else {
                    msg('error', res.data.msg);
                }

            });

            axios.get("/authority").then(res => {
                if (res.data.code === '0') {
                    this.authority = res.data.data;
                } else {
                    msg('error', res.data.msg);
                }
            });

        },
        methods: {
            updatePassword: function () {
                if (!this.entity.password || this.entity.password === '') {
                    msg('warning', '请输入原密码');
                    return;
                }
                if (!this.entity.newPassword || this.entity.newPassword === '') {
                    msg('warning', '请输入新密码');
                    return;
                }
                if (!this.entity.new2Password || this.entity.new2Password === '') {
                    msg('warning', '请确认密码');
                    return;
                }
                if (this.entity.newPassword !== this.entity.new2Password) {
                    msg('warning', '两次输入的新密码不一致');
                    return;
                }
                axios.put("/updatePassword", this.entity).then(res => {
                    if (res.data.code === '0') {
                        msg('success', '密码修改成功');
                        window.location = '/end/page/login.html';
                    } else {
                        msg('error', res.data.msg);
                    }
                })
            },
            logout() {
                logout();
            }
        }
    })
</script>
</body>
</html>